* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost";
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c3639;
}
.grid-container{
    width: 80%;
  margin: 100px auto;
  background-color: #dcd7c9;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: grid;
    grid-template-rows: 250px 250px;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    /* align-items: stretch;
    align-items: center;
    align-items: self-start; */
}
.item{
    display: grid;
    place-items: center;
    font-size: 20px;
    letter-spacing: 1.5px;
    font-weight: bold;
    text-transform: uppercase;
}
.item-1{
    background-color: #662549;
}
.item-2{
    background-color: #113946;
}
.item-3--child{
    background-color: #102c57;
}
.item-4{
    background-color: #884a39;
}
.item-5{
    background-color: #454545;
} 
.item-6{
     background-color: #85586f;
}