* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

body {
  background-color: hsl(0, 0%, 85%);
  background-color: #2b3033;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  box-shadow: inset 0 0 0 5px #4861ec;
}
.box {
  /* width: 250px;
    height: 100px; */
  /* below three properties for scale and transform */
  width: 250px;
  height: 250px;
  background-color: #4861ec;
  box-shadow: 0 0 0px 15px #353f6d;
  margin: 20px;
  color: #fff;
  font-size: 2rem;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 50%; */
  transition-property: all;
}
.container img {
  width: 100%;
  width: 30%;
  height: auto;
  transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
}
.container img:hover {
  /*transform: translateY(500px);
  -webkit-transform: translateX(100px) scale(0.5) rotate(45deg);
  -moz-transform: translateX(100px) scale(0.5) rotate(45deg);
  -ms-transform: translateX(100px) scale(0.5) rotate(45deg);
  -o-transform: translateX(100px) scale(0.5) rotate(45deg);
  */ /*translate: 0 200px;
  */ /*scale: 0.5;
  */ /*transform: scale(2);
  */ /*transform: scaleX(0.5);
  */ /*transform: scaleY(2);
  */ /*transform: rotate(90deg);
  */ /*transform: rotate(180deg);
  */ /*transform: rotateX(45deg);
  */ /*transform: skew(20deg);
  */ /*transform: skewX(-20deg);
  */ /*transform: skewY(-20deg);
  */ /*rotate: -20deg;
  */ /*transform-origin: left;
  */ /*transform-origin: right;
  */ /*interview*/ /*translate: 500px 200px;
  */ /*rotate: -45deg;
  */
  /* transform: translateX(100px) scale(0.5) rotate(45deg); */
  translate: 100px;
  scale: 0.5;
  rotate: 45deg;
}